#attraction{
    background-color: rgb(150, 31, 31);
}
#welcome{
    background-color: rgba(250, 23, 15, 0.993);
}

#attractiontypes{
    background-color: rgba(104, 8, 5, 0.897);
}
.attractionhead {
    text-align: center;
}
#areas{
    text-align: center;
}
 